* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #26190D;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
#backToTopBtn:hover {
  background-color: #fff;
  color: #26190D;
}

/* Header 1 */
.h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #FFFFFF;
  background-color: #595022;
  letter-spacing: 25px
}
/* Header 2 */
.h2, .h2_small {
  font-size: 2rem;
  text-align: center;
  margin: 50px;
  letter-spacing: 25px;
}

/* Nav */
.custom-navbar {
    background-color: #26190D !important;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #FDFBFB !important;
  }

  .custom-navbar .nav-link:hover {
    color: #ffffff !important;
  }

  .custom-navbar .form-control {
    background-color: transparent;
    color: #FDFBFB !important;
    border-color: #FDFBFB !important;
  }

  .custom-navbar .form-control::placeholder {
    color: #FDFBFB !important;
    opacity: 1;
  }

  .custom-navbar .btn {
    color: #FDFBFB !important;
    background-color: transparent;
    border-color: #FDFBFB !important;
  }

  .custom-navbar .btn:hover {
    background-color: #FDFBFB !important;
    color: #26190D !important;
  }

.custom-navbar .nav-link:hover {
  background-color: #FDFBFB !important;
  color: #26190D !important;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  transition: 0.3s;
}


.custom-navbar .btn:hover {
  background-color: #FDFBFB !important;
  color: #26190D !important;
  transition: 0.3s;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FDFBFB' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Footer */
footer {
    width: 100%;
    background-color: #26190D; /* Optional: background to distinguish footer */
}
.footer-content {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    margin: 0 auto;
    gap: 20px; 
}

.footer-content > div {
    flex: 1; 
}
.footer-content img {
  width: 100px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
}
.copyright {
  width: 100%;
  color: #FFFFFF;
  align-items: center; 
  text-align: center; 
  margin: 0 auto;
  padding-bottom: 20px;
}

/* THIS HAS MULTIPLE SECTIONS FROM DIFF. PAGES */
.maintenance-columns, .safety-columns, .about-us-container, .container-carousel, .dog-para, .our-story-container  {
  max-width: 1200px;
  margin: auto;
}

/* Home Page */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  font-size: large;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #26190D;
  z-index: 1;
}
.hero-text * {
  text-align: center;
  margin: 0 auto;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text p {
  margin-top: 30px;
  font-style: italic;
}

.hero-section button {
  margin-top: 30px;
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}

.ouranimals {
  font-size: xx-large;
  text-align: center;
  margin: 50px;
  letter-spacing: 25px;
}

.full-box {
  width: 100%;
  background-color: #26190D;
  padding: 50px;
}

.full-box img {
  width: 100%;
  height: auto;
}

.home-content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.text1-content1 {
  flex: 1;
  margin-bottom: 50px;
  color: #75A3BF;
  font-size: 1.5rem;
  font-style: italic;
}

.text2-content1 {
  flex: 1;
  margin-bottom: 30px;
  color: #FDFBFB;
  font-size: 20px;
  letter-spacing: 2px;
}

.img1-content1 {
  flex: 1;
  width: 100%;
  height: auto;
  
}

.home-aboutus-btn {
  margin-top: 30px;
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.home-aboutus-btn:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}

.full-box2 {
  width: 100%;
  background-color: #89B0C8;
  padding: 50px;
}

.review-box {
  background-color: #89B0C8;
  padding: 40px 20px;
  text-align: center;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "top1 top2 top3"
  ". center ."
  "bot1 bot2 bot3";
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.photo-grid *{
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }

  .modal:target {
    display: block;
  }

  .modal-content {
    position: relative;
    background-color: #efefef;
    margin: 15% auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .close-btn {
    color: #000;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    text-decoration: none;
  }

  .modal-content h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #26190D;
  }

  .review-block {
    text-align: center;
  }

  .review-block img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  .review-text {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  .review-text * {
    text-align: center;
    margin: 0 auto;
  }


.cloud-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-content img {
  width: 100%;
  height: auto;
  display: block;
}

.cloud-text {
  position: absolute;
  text-align: center;
  padding: 1em;
  max-width: auto;
  color: #000000; 
  font-weight: normal;
  font-size: 1rem;
  padding: 0 !important;
}
.cloud-text a {
  color: #75A3BF;
  text-decoration: none;
}
.cloud-text a:hover {
  color:#AD8666;
}
.cloud-media {
  display: none;
}
.line {
  display: none;
}


/* About Page */
.about-us-container {
    width: 100%;
    height: 100%;
    background-color: #89B0C8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 5px;
}
.bluebkg {
  background-color: #89B0C8;
}
#ownerQuote {
  font-style: italic;
}
#caption {
  font-style: italic;
  color: rgb(102, 102, 102);
}
.flex-item {
    width: calc(100%/3);
    height: 90%;
    text-align: center;
    margin: 5px 10px;
}
.flex-item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  padding-left: 100px;
}
.flex-item p {
  color: #000;
  line-height: 1.5;
}
.about-us-container img {
  width: 100%;
  padding-bottom: 50px;
}
.about-us-container :last-child {
  padding: 0 50px;
}
.container-carousel {
  background-color: #26190D;
  padding: 50px;
  border: solid 20px #595022;
  border-radius: 12px;
  margin-top: 50px;
}
.container-carousel p {
  color: #FFFFFF;
}
.carousel {
    width: 80%;
    margin: 1rem auto;
}
.slick-track {
    display: flex;
    gap: 1rem;
}
.slick-prev:before, .slick-next:before .slick-dots {
    color: white;
}
.slick-prev:hover:before, .slick-next:hover:before {
    color: #595022;
}
.slick-dots {
  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before{
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;

  }
  li.slick-active button:before {
    background-color: #fff;
  }
}
.open-modal2 img {
    width: auto;
    height: auto;
    margin: auto;
}
.open-modal2 {
    text-align: center;
    width: 25%;
    color: #000;
    cursor: pointer;
}
.open-modal2 a p {
    text-decoration: none;
    color: #000;
}
.open-modal2 p {
  margin: 5% auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
.modal-content {
    color: #000;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }
.modal-content p {
  margin: auto;
  }
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
  /* this isn't working to float the X on the right side */

.close:hover {
    color: #AD8666;
  }
/* .careers-container {
    margin-bottom: 50px;
} */
.our-story-container {
    background-color: #26190D;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.our-story-container img {
  max-width: 230px;
}
.brownbkg {
  background-color: #26190D;
}
.flex-item {
    width: calc(100%/3);
    height: 90%;
    text-align: center;
    margin: 5px 10px;
}
.dog-para {
  text-align: center;
  padding: 50px;
  line-height: 1.5;
  justify-content: center;
}
#text_2 {
    margin: 20px;
    min-width: 200px;
    max-height: 350px;
    overflow-y: auto;
    align-content: center;
   }
.our-story-container p {
  line-height: 1.5;
}
.learn-more {
  background-color: #26190D;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 20px solid #26190D;
}
.learn-more button {
  margin-top: 30px;
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.learn-more button:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}
.spacing {
  padding: 20px;
}
.storybkg {
  color: #26190D;
  align-content: center;
  background-color: #FDFBFB;
  margin-bottom: 50px;
  border-top: 10px solid #26190D; 
}
.dogbkg {
  color: #FDFBFB;
  background-color: #26190D;
  margin-bottom: 20px;
  border-top: 5px solid #89B0C8; 
  border-bottom: 5px solid #26190D;  
}


/* Horse information */
.container-information {
  text-align: center;
  padding: 20px 0;
  color: #FFFFFF;
  background-color: #595022;
}
.container-safety {
  background-color: #26190D;
  padding-bottom: 50px;
  justify-content: center;
}
.safety-columns p, .maintenance-columns p {
  line-height: 1.5;
}
.safety-columns p {
  color: #FFFFFF;
}
.container-maintenance {
  padding-top: 50px;
  background-color: #89B0C8;
}
.safety-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  margin: auto 100px;
  padding-top: 5%;
}
.safety-item {
  flex: 1 1 calc(45% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.safety-item img, p {
  max-width: 100%;
  margin-bottom: 20px;
  flex-basis: auto;
}
.safety-item img {
  width: 500px;
  
}
.safety-item p {
  color: #26190D;
  width: 350px;
  margin: 5%;
  padding: 5%;
  border: 3px solid #89B0C8;
  border-radius: 20px;
  background-color: #FFFFFF;
}
/* .maintenance-columns, .safety-columns {
  max-width: 1200px;
  margin: auto;
} */
.maintenance-columns p {
  color: #26190D;
  width: 350px;
  margin: 5%;
  padding: 5%;
  border: 3px solid #595022;
  border-radius: 20px;
  background-color: #FFFFFF;
}
.maintenance-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#vet, #nutrition, #care {
  display: flex; 
}
.maintenance-item img, p {
  width: 75%;
  margin-bottom: 20px;
}
.maintenance-item img {
  margin: 70px;
  max-width: 500px;
  
}
.maintenance-item h3 {
  color: #FFFFFF;
  font-size: 2rem;
  padding-bottom: 20px;
}
.center-text {
  justify-content: center;
}


/* contact page */
.contact-us-form {
    padding: 5%;
    background-color: #89B0C8;
}
.dialog-container main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dialog-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.dialog-container fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
fieldset legend {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #eee;
}
fieldset div {
    margin-bottom: 10px;
}
fieldset label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
button[type="submit"] {
    background-color: #AD8666;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
button[type="submit"]:hover {
    background-color: #89B0C8;
}
input:invalid,
textarea:invalid,
select:invalid {
    border-color: red;
    background-color: #ffe0e0;
}
input:valid,
textarea:valid,
select:valid {
    border-color: green;
    background-color: #e0ffe0;
}
input:invalid + label::after,
textarea:invalid + label::after,
select:invalid + label::after {
    content: " (Required)";
    color: red;
    font-weight: normal;
}
input[pattern]:invalid + label::after {
    content: " (Invalid format)";
}

/* .dialog-container {
            position: relative;
            width: 500px;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            display: inline-block;
            padding: 5px 10px;
            background-color: #eee;
            color: #333;
            text-decoration: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        .close-button:hover {
            background-color: #ddd;
        } */

.contact-container-hours {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #26190D;
  color: #FFFFFF;
}
.contact-container-hours button {
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact-container-hours {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 5%;
}
.contact-container-hours img {
    max-width: 100%;
    height: auto;
}
.contact_horse {
  min-width: 10rem;
}
.contact-container-hours p {
    margin: auto;
    text-align: center;
    line-height: 1.5;
}
.contact_div {
    display: flex;
    flex-direction: row;
    margin: 5%;
    gap: 2rem;
    align-content: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
   }
.contact-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.contact_div button:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}

.faq-container {
  margin-bottom: 75px;
}
.accordion {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.accordion-item {
  border: 1px solid #ccc;
  margin: 5px 0;
}
.accordion-header {
  background-color: #26190D;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.accordion-content {
  display: none; /* Hidden by default */
  padding: 15px;
  background-color: #f9f9f9;
}
.accordion-header:hover {
  background-color: #ddd0c5;
  color: #26190D;
  transition: 0.3s;
}
.email-us {
  text-decoration: none;
  color: #FFFFFF;
}


/* Horses for Sale page */

.available-horses {
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;         
  gap: 16px;       
  background-color: #89B0C8; 
  padding: 40px 50px;
  justify-content: center;   
} 
.available-horses > .horse {
  flex: 0 0 48%; 
  width: 100%;      
  box-sizing: border-box;
  padding: 20px;
}
.available-horses p {
  text-decoration: none;
  margin-left: 60px
}
.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
.modal3:target {
    display: block;
  }
.open-modal3 img {
    width: auto;
    height: auto;
    margin: auto;
}
.open-modal3 {
    text-align: center;
    width: 25%;
    color: #000;
    cursor: pointer;
}
.open-modal3.horse {
    color: white;
    text-decoration-line: none;
   }
.open-modal3.horse p {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
   }
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
.close:hover {
    color: #AD8666;
  }
  .modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  .modal4:target {
    display: block;
  }
  .open-modal4 img {
    width: 75%;
    height: auto;
    margin: auto;
    align-items: center;
}
.open-modal4 {
    text-align: center;
    width: 25%;
    color: #000;
    cursor: pointer;
}
.open-modal4 a p {
    text-decoration: none;
    color: #000;
}
.open-modal4 p {
  margin-left: 40px;
}
  
/* TABLET */
@media only screen and (max-width: 990px) {

  /* About */
  .flex-item {
    width: 100%;
    padding: 10% 0;
    align-items: center;
    aspect-ratio: auto;
  }
  .about-us-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10% 0 7% 0;
    align-items: center;
    justify-content: center;
  }
  .about-us-container img {
    max-width: 40%;
    min-width: 200px;
    height: auto;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}
  #owner {
    margin: auto;
    min-width: 70vw;
    padding: 0;  
  }
  #ownerHeader {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #ownerHeader br {
    display: none;
   }
  #ownerQuote {
    width: 100%;
    padding: 0;
    justify-self: center;
    text-align: center;
    white-space: nowrap;
    aspect-ratio: auto;
   }
  .carousel {
    width: 100%;
    height: 100%;
   }
  .carousel img {
    width: 100%;
    height: 100%;
   } 
   .dog-para {
    margin: 0;
    height: 300px;
    padding: 10%;
    text-align: center;
    justify-content: center;
    align-content: center;
   }
   #text_2 {
    padding: 0;
    margin: 0;
    align-content: center;
   }
  .our-story-container, .contact-container-hours  {
    display: flex;
    flex-direction: column;
   }
  .story_img {
    padding: 0;
    width: 15rem;
    height: 15rem;
   }
   #img_2 {
    display: none;
    visibility: hidden;
   }

   /* Contact */
   .contact_horse {
    width: 30%;
   } 

   /* Horse for Sale */
   .available-horses {
    flex-direction: column;
    width: 100%;
   }
   a.open-modal3.horse {
    margin: auto;
    width: 100%;
   } 

   /* Horse Info */
   .safety-columns {
    width: 100%;
    margin: auto;
  }
   .safety-item img, .safety-item p  {
    max-width: 400px;
   }
   .maintenance-columns {
    flex-wrap: nowrap;
    flex-direction: column;
   }
   /* .maintenance-item {
    align-content: center;
   } */
   #vet {
    display: flex;
    order: 1;
    flex-direction: column-reverse;
    
   }
  #nutrition, #care {
    display: flex; 
    flex-direction: column;
  }
  /* Home */
  .hero-section {
    object-fit: contain;
    width: 100%;
    height: 500px;
  }
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top1 top2"
    "top3 bot1"
    "bot2 bot3";
  }
  .horse-and-dog-img {
    width: 100%;
    min-width: 200px;
    padding-right: 50px;
  }
  .cloud-media {
    display: flex;
    margin: auto;
    padding: 2%;
    max-width: 350px;
  }
  .cloud-text p {
    justify-content: center;
    margin: auto;
  } 
  #cloud {
    display: none;
  }

}

/* MOBILE */
@media only screen and (max-width: 480px) {
  .h1, #h1_info, #h1_test, .h2, .ouranimals, .h2_small {
    letter-spacing: 15px; 
  } 
  .h1 {
    font-size: x-large;
    font-weight: bold;
  }
  #h1_info, #h1_test {
    padding: 7% 0 7% 0; 
  }
  #h1_test {
    font-size: 22px;
  }
  .h2, .ouranimals {
    font-size: medium;
    font-weight: bold;
    padding: 10%;
    text-align: center;
  }
  .h2_small {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10%;

  }
  footer {
    justify-content: center;
    padding: 20px;
    margin: auto;
   }
   .footer-content {
      width: 200px;
      justify-content: center;
      gap: 1rem;
   }
  .contact-info {
    padding: 0;
    margin:0;
    width: 160px;
    text-align: left;
   }
  .contact-info h2 {
    font-weight: bold;
    line-height: 3rem;
   }
  .footer-content img {
    width: 80px;
    padding-top: 22px;
  }
  
  /* About */
  .about-us-container {
    padding: 10% 0 7% 0;
  }
  #ownerQuote {
    font-size: 1rem;
    white-space: wrap;
  }
  .text, .dog-para {
    width: 100%;
    aspect-ratio: auto;
    overflow: auto;
  }
  .text {
    max-height: 15rem;
    text-align: center;
  }
  .container-carousel {
    margin: auto;
    max-width: 20rem;
    max-height: 30rem;
    overflow: hidden;
  }
  .open-modal2 p {
    padding-bottom: 10%;
  }
  .dog-para {
    height: 100%;
  } 
  .story_img {
    width: 10rem;
    height: 10rem;
  }
  .our-story-container {
    padding-top: 5%;
  }
  .flex-item {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 0;
    align-items: center;
    aspect-ratio: auto;
  }

   /* Contact */
  .contact_div {
    margin: 10%;
  }
  #hours {
    font-size: 1.5rem;
  }
  .contact-container-hours p {
    margin-bottom: 5%;
  }
  .contact_horse {
    margin-top: 10%;
  }
  .contact_div button {
    font-size: .75rem;
  }
  .contact_div button img {
    width: 1rem;
  }

   /* Horse for Sale */
  a.open-modal3.horse img {
    max-width: 15rem;
    max-height: 15rem; 
  }
  .open-modal3.horse {
    justify-items: center;
  }

   /* Horse Info */
  .container-safety {
    justify-self: center;
  }
  .maintenance-columns {
    flex-direction: column;
    padding-bottom: 20px;
  }
  #care, #vet, #nutrition {
    margin-bottom: 50px;
  }
  .safety-item img {
    width: 300px;
    margin: auto;
  }
  .maintenance-columns h3 {
    font-size: 25px;
    padding: 0;
  }
    /* Home */
  .hero-section {
    object-fit: none;
    width: 100%;
    min-height: 650px;
    height: 100%;
    padding-top: 150px;
  }
  .line {
    display: block;
    margin: auto;
    width: 300px;
    border-bottom:  2px solid #cecbc9;
    
  }
  .hero-text h1 {
    position: relative;
    top: 105px;
    padding-bottom: 395px;
  }
  .hero-text button:hover {
    border: 1px solid #5c4c3f;
  }
  video {
    position: absolute;
    width: 100%;
    min-width: 320px; 
    max-height: 300px;
    padding: 20px;
    border: none;
    border-radius: 30px;
  }
  .ouranimals {
    padding: 5%;
    margin: 0;
    font-size: 1em;
  }
  .home-content1 {
    flex-direction: column-reverse;
  } 
  .home-aboutus-btn {
    margin-left: 40px;
    margin-right: 40px;
  }
  .horse-and-dog-img {
    width: 250px;
    padding: 0;
  }
  .cloud-media {
    margin-top: 5%;
    min-width: 220px;
    width: 100%;
    min-height: 100%;
  }
 
  
}