* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #26190D;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
#backToTopBtn:hover {
  background-color: #fff;
  color: #26190D;
}

/* Nav */
.custom-navbar {
    background-color: #26190D !important;
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .nav-link {
    color: #FDFBFB !important;
  }

  .custom-navbar .nav-link:hover {
    color: #ffffff !important;
  }

  .custom-navbar .form-control {
    background-color: transparent;
    color: #FDFBFB !important;
    border-color: #FDFBFB !important;
  }

  .custom-navbar .form-control::placeholder {
    color: #FDFBFB !important;
    opacity: 1;
  }

  .custom-navbar .btn {
    color: #FDFBFB !important;
    background-color: transparent;
    border-color: #FDFBFB !important;
  }

  .custom-navbar .btn:hover {
    background-color: #FDFBFB !important;
    color: #26190D !important;
  }

.custom-navbar .nav-link:hover {
  background-color: #FDFBFB !important;
  color: #26190D !important;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  transition: 0.3s;
}


.custom-navbar .btn:hover {
  background-color: #FDFBFB !important;
  color: #26190D !important;
  transition: 0.3s;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FDFBFB' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  font-size: large;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #26190D;
  z-index: 1;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-text p {
  margin-top: 30px;
}

.hero-section button {
  margin-top: 30px;
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.hero-section button:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}

/* About Page */
.about-us-h1 {
  text-align: center;
  padding: 20px 0;
  color: #FFFFFF;
  background-color: #595022;
}
.about-us-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 5px;
}
.flex-item {
    width: calc(100%/3);
    height: 90%;
    text-align: center;
    margin: 5px 10px;
}
.flex-item h2 {
  text-align: left;
  padding-left: 100px;
}
.flex-item p {
  color: #AEAAAA;
}
.meet-the-dog, .our-story {
  text-align: center;
  padding: 30px 0;
  color: #FFFFFF;
  background-color: #26190D;
  margin-bottom: 75px;
}
.about-us-container img {
  width: 100%;
  padding-bottom: 50px;
}
.about-us-container :last-child {
  padding: 0 50px;
}
.container-carousel {
  background-color: #26190D;
  padding: 50px;
  border: solid 20px #595022;
  border-radius: 12px;
  margin: 0 100px;
}
.container-carousel p {
  color: #FFFFFF;
}
.carousel {
    width: 80%;
    margin: 1rem auto;
}
.slick-track {
    display: flex;
    gap: 1rem;
}
.slick-prev:before, .slick-next:before .slick-dots {
    color: white;
}
.slick-prev:hover:before, .slick-next:hover:before {
    color: #595022;
}
.slick-dots {
  li button:before,
  li.slick-active button:before {
    color: transparent;
    opacity: 1;
  }
  li button:before{
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;

  }
  li.slick-active button:before {
    background-color: #fff;
  }
}
.open-modal2 img {
    width: auto;
    height: auto;
    margin: auto;
}
.open-modal2 {
    text-align: center;
    width: 25%;
    color: #000;
    cursor: pointer;
}
.open-modal2 a p {
    text-decoration: none;
    color: #000;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
  }
.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
  }
.close:hover {
    color: orange;
  }
.careers-container {
    margin-bottom: 50px;
}
.our-story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5px;
    gap: 30px;
    margin: 0 100px;
}
.our-story-container p {
  text-align: center;
}
.flex-item {
    width: calc(100%/3);
    height: 90%;
    text-align: center;
    margin: 5px 10px;
}
.dog-para {
  text-align: center;
  margin: 50px 150px;
}
.learn-more {
  text-align: center;
}
.learn-more button {
  margin-top: 30px;
  background-color: #AD8666;
  color: #FDFBFB;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.learn-more button:hover {
  background-color: #FDFBFB;
  color: #AD8666;
  transition: 0.3s;
}

/* Horse inforamtion */
.container-information {
  text-align: center;
  padding: 20px 0;
  color: #FFFFFF;
  background-color: #595022;
}
.container-safety h2, .container-maintenance h2 {
  text-align: center;
  padding: 30px 0;
  color: #FFFFFF;
  background-color: #26190D;
  margin-bottom: 75px;
}
.container-maintenance {
  margin-top: 30px;
}
.safety-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}
.safety-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.safety-item img, p {
  width: 75%;
  margin-bottom: 20px;
}
.maintenance-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.maintenance-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.maintenance-item img, p {
  width: 75%;
  margin-bottom: 20px;
}